<div class="card mb-4">
  <% if (locals.user && (locals.user.id == post.user.id || locals.user.id == comment.user.id)){ %>
    <small style="text-align: left;">
        <a class="delete-comment-button" href="/comment/destroy/<%=comment.id %>"><i id="delbut" class="bi bi-x-square"></i></a>
    </small>
    <% } %>
  <div class="card-body">        
<li id="comment-<%= comment._id %>">
    <p>
       <%= comment.content %>
       </p>
       <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <img class="rounded-circle" src="<%= comment.user.avatar %>" alt="avatar" width="34"
            height="34" />
       <small><p class="small mb-0 ms-2">
           <%= comment.user.name %></p>
      <!-- likes -->
        </small></div>
        <div class="d-flex flex-row align-items-center">
        <small class="small text-muted mb-0">
        <% if(locals.user){ %> 
           
         <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
           <%= comment.likes.length %> 
           Likes </a>
         <%}else {%> 
           <%= comment.likes.length %> Likes
           <%} %>
       </small></div></div>
   </li>
  </div></div>