
<link rel="stylesheet" href='/css/home.css'>
<link rel="stylesheet" href='/css/chat_box.css'>

<div id="home-container">
<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user) {%>
    <form action="/posts/create" id ="new-post-form" method="post">  
           <textarea name="content" cols="30" rows="3"  required> Type here to post your thoughts..
    </textarea>
    <input class="btn btn-primary" type="submit" value="Post">
    <% } %>
    </form>

    <div id="posts-list-container">
      <h4 class="mb-5 text-center"><strong>Latest posts</strong></h4>
        <ul>
        <% for(post of posts){ %> 
          <%- include('post') -%>  
            
        <% } %>
    </ul>
    </div>
</section>
<section id="user-friends">
    <div style=" right:0; ">
  <h4 style="padding-top:30px;">Users</h4>
  <% for(u of all_users){ %> 
    <p>
      <a style="padding: 5px;" href="/users/profile/<%= u.id %>"><%= u.name %></a>
    </p>
    <% } %>
<% if(locals.user){%> 
  <h4 style="padding-top:30px;">Friends</h4>
  <% if(locals.user.friendships.length == 0) {%>
    <p  >No friends found!</p>
    <% }else{ %> <% for(friends of locals.user.friendships){ %> <%
    if(friends.from_user.id == locals.user.id) {%>
    <div style="padding: 5px;">
      <a href="/users/profile/<%=friends.to_user._id%>">
        
        <p><%= friends.to_user.name %></p>
      </a>
    </div>
    <%}%>
    <% if(friends.to_user.id == locals.user.id) {%>
      <div style="padding: 5px;">
        <a href="/users/profile/<%=friends.from_user._id%>">
          
          <p><%= friends.from_user.name %></p>
        </a>
      </div>
      <% } %> <% } %> <% } %><% } %></div>
</section>
<%- include('chat_box.ejs'); %>
</div>
<script src='/js/home_post_comment.js' ></script>
<script src='/js/home_posts.js'></script>

<!-- likes toggle -->
<script src='/js/toggle_likes.js'></script>


<script>
  $('.toggle-like-button').each(function(){
    let self = this;
    let toogleLike = new ToggleLike(self);
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

<script src='/js/chat_engine.js'></script>
<% if(locals.user){ %> 
<script >
 new ChatEngine('user-chat-box','<%= locals.user.email %>');
</script>
<% } %>