<!-- <link rel="stylesheet" href="/css/user_profile.css"> -->
<link rel="stylesheet" href="<%= 
assetPath('css/user_profile.css') %>">

<div class="user-container">
<% if(user.id == profile_user.id){%> 
  <div id="head">
  <img class="rounded-circle" src="<%= user.avatar %>" alt="<%= user.name %>" width="200" height="200" >
  </div>
    <!-- if user matches then show form  -->
    <div class="user-cont-con">
    <form action="/users/update/<%= profile_user._id %>" method="post" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input class="form-control form-control-lg"  id="name" type="text" name="name" placeholder="Your name" value=" <%= profile_user.name %>" required>
      <label for="email">Email:</label>
      <input class="form-control form-control-lg"  id="email" type="email" name="email" placeholder="Your email" value=" <%= profile_user.email %>" required>
      <label for="file">Upload Photo:</label>
      <input id="file" class="form-control" type="file" name="avatar">
      <input  class="btn btn-primary" type="submit" value="Update">
    </form>
    </div>
<% }else{ %> 
    <!-- else show only the profile info -->
    <div id="head">
    <img class="rounded-circle" src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="200" height="200">
    </div>
    <div class="text-center user-cont-con">
    <h4><strong>Name : </strong> <%= profile_user.name %></h4>
    <h4><strong>Email : </strong>  <%= profile_user.email %></h4>
    <div class="text-center btn-grp">
      <% let isFriend = false %>
      <% for(let friend of locals.populated_user.friendships){ %>
       
        <% if(friend.to_user == profile_user.id || friend.from_user == profile_user.id){ %>
          <% isFriend = true %>
        <% } %>
      <% } %>

      <% if(isFriend){%>
        <button class="btn btn-primary">
          <a style="color:white;" class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
            Remove Friend
          </a>
        </button>
      <% }else{%>
        <button class="btn btn-primary">
          <a style="color:white;" class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
            Add Friend
          </a>
        </button>
      <% } %>
   </div>
    </div>
<% } %>
</div>

<script src="<%= assetPath('js/toggle_friend.js') %>"></script>
<!-- <script src='/js/toggle_friend.js'></script> -->


