<link rel="stylesheet" href="/css/user_profile.css">
<!-- <link rel="stylesheet" href="<%= 
assetPath('css/user_profile.css') %>"> -->


<% if(user.id == profile_user.id){%> 
  <div id="head">
    <h1>Codeial / <%= user.name %></h1>
  <img src="<%= user.avatar %>" alt="<%= user.name %>" width="200" height="200" >
  </div>
    <!-- if user matches then show form  -->
    <form action="/users/update/<%= profile_user._id %>" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Your name" value=" <%= profile_user.name %>" required>
      <input type="email" name="email" placeholder="Your email" value=" <%= profile_user.email %>" required>
      <input type="file" name="avatar" placeholder="Profile picture">
      <input type="submit" value="Update">
    </form>
    
<% }else{ %> 
    <!-- else show only the profile info -->
    <div id="head">
      <h1>Codeial / <%= profile_user.name %></h1>
    <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100" height="100">
    </div>
    <h2>Name : <%= profile_user.name %></h2>
    <h2>Email : <%= profile_user.email %></h2>
    <div class="btn-grp">
      <% let isFriend = false %>
      <% for(let friend of locals.populated_user.friendships){ %>
       
        <% if(friend.to_user == profile_user.id || friend.from_user == profile_user.id){ %>
          <% isFriend = true %>
        <% } %>
      <% } %>

      <% if(isFriend){%>
        <button>
          <a style="color:white;" class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
            Remove Friend
          </a>
        </button>
      <% }else{%>
        <button>
          <a style="color:white;" class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
            Add Friend
          </a>
        </button>
      <% } %>

    </div>
<% } %>

<script src='/js/toggle_friend.js'></script>


